<%- await include("partials/header", { bot, user, title: "Home", is_logged, dashboardDetails, dashboardConfig, hasClientSecret }) %>
<style>
p {
text-align: center!important;
}
.container-fluid {
background-color: #333232!timportant;
margin-top: -8px!important;

}
.header {
background-color: #333232!important;
border-color: #333232!important;
border-radius: 5px;
width: 700px!important;
}
h2 {
font-size: x-large!important;
margin-top: 0.5cm;
}
img {
transition: 0.3s;
}
</style>

      <div class="im-going-insane">
    <h2 style="text-align: center; color:white!important;">Welcome to <%= dashboardDetails.name %>'s Dashboard!</h2>
    
      <p style="text-align: center; color:white;">Here you can control everything.</p>
      </div>
<img src="https://cdn.discordapp.com/avatars/905420513021681704/23ae485cb39765cdb38447c8a728fec3.webp">
<%- await include("partials/footer") %>